.global {
    margin-top: 90px; /* Adjust the top margin to create space */
    padding: 20px; /* Optional: Add padding for better spacing */
    color: white; /* Ensure text color is white for better contrast */
    background-color: #121212; /* Optional: Dark background to match your theme */
  }
  .more-cards{
    padding-left: 6%;
  }